.page-catalog {
	display: grid;
	row-gap: 20px;
	margin-top: 80px;
	@media (min-width: $tablet) {
		row-gap: 40px;
		margin-top: 100px;
	}
	@media (min-width: $laptop) {
		row-gap: 60px;
		margin-top: 150px;
	}
}

.page-catalog__title {
	font-size: 14px;
	font-weight: 600;
	color: var(--primary-color);
	@media (min-width: $tablet) {
		font-size: 16px;
	}
	@media (min-width: $laptop) {
		font-size: 18px;
	}
}
