mixin main()
	main.page-catalog.container
		h1.page-catalog__title Каталог товаров
		//- +category('men', 'Мужчины')
		//- +category('women', 'Женщины')
		//- +category('kids', 'Дети')
		+categories()