.category {
	position: relative; 
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 70px solid transparent;
	margin-top: -70px;
	background-color: var(--secondary-color);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	@media (min-width: $laptop) {
		border-top: 130px solid transparent;
		margin-top: -130px;
	}
}

.category::before {
	content: "";
	position: absolute;
	top: -2px; /* равен по модулю толщине border */
	left: 0;
	right: 0;
	border-top: 2px solid transparent; /* собственно то, ради чего всё затевалось */
}

.category__title {
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: $basicFontSize;
	color: var(--primary-color);
	@media (min-width: $tablet) {
		margin-left: 20px;
		font-size: 15px;	
	}
	@media (min-width: $laptop) {
		margin-left: 40px;
		font-size: 16px;
	}
	@media (min-width: $desktop) {
		margin-left: 60px;
		font-size: 18px;
	}
}

.category__cards {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 10px;
	@media (min-width: $tablet) {
		grid-template-columns: 1fr 1fr;
		row-gap: 30px;
	}
	@media (min-width: $laptop) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media (min-width: $desktop) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}