.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	display: flex;
	justify-content: center;
	width: 310px;
	background-color: var(--accent-color);
	@media (min-width: $tablet) {
		width: 450px;
	}
}

.modal--hidden {
	display: none;
}

.modal--visible {
	display: block;
	animation: bounce 0.6s;
}

.modal__form {
	padding: 10px;
}

.order-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	gap: 10px;
}

.order-form__title {
	align-self: center;
	font-size: 16px;
	font-weight: 600;
}

.order-form__colors-title {
	font-size: 12px;
	font-weight: 400;
}

.order-form__input[name="amount"] {
	width: 50px;
	outline: none;
	border: 1px solid rgb(158, 156, 156);
	background-color: var(--secondary-color);
	color: var(--text-color);
}

.order-form__comment-text {
	border: 1px solid rgb(158, 156, 156);
	background-color: var(--secondary-color);
	color: var(--text-color);
}

.order-form__colors,
.order-form__amount {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-form__radio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

input[type="radio"],
label {
	cursor: pointer;
}

input[type="radio"] {
	position: relative;
	height: 30px;
	width: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

input[type="radio"]::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(29, 185, 63);
	border: 0.5px solid rgb(158, 156, 156);
}

input[value="white"]::before {
	background-color: rgb(255, 255, 255);
}

input[value="black"]::before {
	background-color: rgb(0, 0, 0);
}

input[value="green"]::before {
	background-color: rgb(55, 185, 29);
}

input[value="blue"]::before {
	background-color: rgb(29, 65, 185);
}

input[value="red"]::before {
	background-color: rgb(254, 14, 54);
}

input[type="radio"]:checked::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid rgb(255, 221, 0);
	transform: translate(-50%, -50%);
	visibility: visible;
}

.order-form__note {
	margin-top: 10px;
}

/* Animations */

@keyframes bounce {
	0% {
		top: -2000px;
	}

	70% {
		top: -55%;
	}

	90% {
		top: 45%;
	}

	100% {
		top: 50%;
	}
}