$basicFontFamily: $CustomFont;
$basicFontSize: 12px;
$basicLineHeight: 1.2;
// Screen sizes
$mobile: 320px;
$iphone: 375px;
$tablet: 768px;
$laptop: 1260px;
$desktop: 1920px;
// Colors
:root {
	--primary-color: #6753d9;
	--secondary-color: #eae9f2;
	--accent-color: #ffffff;
	--secondary-accent-color: #473c8d;
	--text-color: #333333;
};

$black: #000;
$white: #fff;