mixin footer()
	footer.page-footer.footer
		.footer__container
			a.footer__logo(href='#')
				img.footer__logo-img(src='img/footer/logo.svg' width='60' height='60' alt='Sneaker Shop')
			nav.footer-nav
			.footer-nav__wrapper  
				- 
					const list = [
						{
							href: '#men',
							text: 'Мужчины',
						},
						{
							href: '#women',
							text: 'Женщины',
						},
						{
							href: '#kids',
							text: 'Дети',
						},
					];
				ul.footer-nav__list.site-list
					each item in list 
						li.site-list__item
							a.site-list__link(href=`${item.href}`)= item.text
		
			p.footer__copyright ©2023 Sneaker Shop
